<html>
    <head>
        <title>Lets see...</title>
    </head>
    Hello..<%=username%><br>
    Welcome.
    <body>
        <div class = "navbar">
            <table>
            <td><form action="/login" method="GET" style="display: inline-block;">
                <input type="button" onclick="location.href='/login';" value="HOME"/>
            </form></td>
            <td><form action="/allbooks" method="POST">
                <input type = "submit" value = "BROWSE ALL BOOKS.."/>
            </form></td>
            <td><form action="/logout" method="GET" style="display: inline-block;">
                <input type="button" onclick="location.href='/logout';" value="LOGOUT"/>
            </form></td>
            </table>
        </div>
        Here you can see your issued books and the books pending for approval.<br><br><hr>
        <br>
        BOOKS CURRENTLY ISSUED : <br><br>
        <table>
            <%
                bookissued.forEach(function(item) {
            %>    
           <tr>
                Title : <%=item.title%><br>
                Author : <%=item.user_id%><br>
                <form action="/returnbook" method="POST">
                <input type="text" name="reqid" value= '<%= item.book_id %>' style="display:none;">
                <input type="text" name="userkiid" value= '<%= item.user_id %>' style="display:none;">
                <input type="submit" value="ReturnBook">
                </form>
           </tr><br><br>
           <% }) %>
        </table>
        <hr>
        BOOKS PENDING FOR APPROVAL :<br><br>
        <table>
            <%
                bookpending.forEach(function(item) {
            %>    
           <tr>
               Title : <%=item.title%><br>
               Author : <%=item.author%><br>
           </tr><br>
           <% }) %>
        </table>
        <br>
    </body>
</html>